.header {
    &-top {
        background: #F6F6F6;
        padding: 10px 0;

        &__link {
            display: flex;
            align-items: center;
            gap: 11px;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 145%;
            /* identical to box height, or 22px */


            /* Text/5D6066 */

            color: #5D6066;
        }

        &__menu {
            gap: 24px;
        }
    }

    &-middle {

    }

    &-bottom {
        
    }
}